.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dm .time {
  background-color: rgba(255, 255, 255, .05) !important;
}

.dm .value {
  color: #4f69ed !important;
}

.dm .unit {
  color: white !important;
}

.dm .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logoWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.logoWrapper img {
  height: 10vh;
}

.dm #bg-canvas {
  background-color: rgb(10, 10, 10);
}

.dm .lead {
  color: white;
}

body {
  transition: ease-in 1000ms all;
}